---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/technology/hot.json?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Remaining:
      - '98.0'
      X-Ratelimit-Reset:
      - '192'
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"after": "t3_1qk88s7", "dist": 10, "modhash":
        "", "geo_filter": null, "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "technology", "selftext": "", "author_fullname": "t2_irlcj",
        "saved": false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title":
        "Tesla kills Autopilot, locks lane-keeping behind $99/month fee.", "link_flair_richtext":
        [], "subreddit_name_prefixed": "r/technology", "hidden": false, "pwls": 6,
        "link_flair_css_class": "general", "downs": 0, "thumbnail_height": 78, "top_awarded_type":
        null, "hide_score": false, "name": "t3_1qkwbw4", "quarantine": false, "link_flair_text_color":
        "dark", "upvote_ratio": 0.97, "author_flair_background_color": null, "ups":
        12134, "total_awards_received": 0, "media_embed": {}, "thumbnail_width": 140,
        "author_flair_template_id": null, "is_original_content": false, "user_reports":
        [], "secure_media": null, "is_reddit_media_domain": false, "is_meta": false,
        "category": null, "secure_media_embed": {}, "link_flair_text": "Business",
        "can_mod_post": false, "score": 12134, "approved_by": null, "is_created_from_ads_ui":
        false, "author_premium": false, "thumbnail": "https://external-preview.redd.it/BJEUE9fJsdCJ4Vcfmhji9VTPddetGoYw4NjFTn7XX8Y.jpeg?width=140&amp;height=78&amp;auto=webp&amp;s=232c9e7f6ddd618d358d623b8d4238da8cf350d4",
        "edited": false, "author_flair_css_class": null, "author_flair_richtext":
        [], "gildings": {}, "post_hint": "link", "content_categories": null, "is_self":
        false, "subreddit_type": "public", "created": 1769187695.0, "link_flair_type":
        "text", "wls": 6, "removed_by_category": null, "banned_by": null, "author_flair_type":
        "text", "domain": "arstechnica.com", "allow_live_comments": false, "selftext_html":
        null, "likes": null, "suggested_sort": null, "banned_at_utc": null, "url_overridden_by_dest":
        "https://arstechnica.com/cars/2026/01/tesla-wants-recurring-revenue-discontinues-autopilot-in-favor-of-fsd/",
        "view_count": null, "archived": false, "no_follow": false, "is_crosspostable":
        false, "pinned": false, "over_18": false, "preview": {"images": [{"source":
        {"url": "https://external-preview.redd.it/BJEUE9fJsdCJ4Vcfmhji9VTPddetGoYw4NjFTn7XX8Y.jpeg?auto=webp&amp;s=834229026acde54d84e3beb00e716ce20136a373",
        "width": 2560, "height": 1440}, "resolutions": [{"url": "https://external-preview.redd.it/BJEUE9fJsdCJ4Vcfmhji9VTPddetGoYw4NjFTn7XX8Y.jpeg?width=108&amp;crop=smart&amp;auto=webp&amp;s=070e97ff7e8de910f9d8a64deea7710671580156",
        "width": 108, "height": 60}, {"url": "https://external-preview.redd.it/BJEUE9fJsdCJ4Vcfmhji9VTPddetGoYw4NjFTn7XX8Y.jpeg?width=216&amp;crop=smart&amp;auto=webp&amp;s=e7071a5c22b2b4e2f58e42836226c11bb0a2b12d",
        "width": 216, "height": 121}, {"url": "https://external-preview.redd.it/BJEUE9fJsdCJ4Vcfmhji9VTPddetGoYw4NjFTn7XX8Y.jpeg?width=320&amp;crop=smart&amp;auto=webp&amp;s=981a4bd4ffe753376cda9b69bfb98ee0a0aa8239",
        "width": 320, "height": 180}, {"url": "https://external-preview.redd.it/BJEUE9fJsdCJ4Vcfmhji9VTPddetGoYw4NjFTn7XX8Y.jpeg?width=640&amp;crop=smart&amp;auto=webp&amp;s=75f1a7f67a24d71425f241f94b85f4fc3344401e",
        "width": 640, "height": 360}, {"url": "https://external-preview.redd.it/BJEUE9fJsdCJ4Vcfmhji9VTPddetGoYw4NjFTn7XX8Y.jpeg?width=960&amp;crop=smart&amp;auto=webp&amp;s=977994152987bb7eeb323e4c3a6688b78aa8189a",
        "width": 960, "height": 540}, {"url": "https://external-preview.redd.it/BJEUE9fJsdCJ4Vcfmhji9VTPddetGoYw4NjFTn7XX8Y.jpeg?width=1080&amp;crop=smart&amp;auto=webp&amp;s=35a81aad022a6889f5329760775abe991ef454ee",
        "width": 1080, "height": 607}], "variants": {}, "id": "BJEUE9fJsdCJ4Vcfmhji9VTPddetGoYw4NjFTn7XX8Y"}],
        "enabled": false}, "all_awardings": [], "awarders": [], "media_only": false,
        "link_flair_template_id": "49cac61c-a816-11e9-be34-0ebbab5890a0", "can_gild":
        false, "spoiler": false, "locked": false, "author_flair_text": null, "treatment_tags":
        [], "visited": false, "removed_by": null, "mod_note": null, "distinguished":
        null, "subreddit_id": "t5_2qh16", "author_is_blocked": false, "mod_reason_by":
        null, "num_reports": null, "removal_reason": null, "link_flair_background_color":
        "", "id": "1qkwbw4", "is_robot_indexable": true, "report_reasons": null, "author":
        "Stiltonrocks", "discussion_type": null, "num_comments": 1935, "send_replies":
        true, "contest_mode": false, "mod_reports": [], "author_patreon_flair": false,
        "author_flair_text_color": null, "permalink": "/r/technology/comments/1qkwbw4/tesla_kills_autopilot_locks_lanekeeping_behind/",
        "stickied": false, "url": "https://arstechnica.com/cars/2026/01/tesla-wants-recurring-revenue-discontinues-autopilot-in-favor-of-fsd/",
        "subreddit_subscribers": 20088348, "created_utc": 1769187695.0, "num_crossposts":
        3, "media": null, "is_video": false}}, {"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "technology", "selftext": "", "author_fullname": "t2_hyj89",
        "saved": false, "mod_reason_title": null, "gilded": 0, "clicked": false, "title":
        "Is Your Ring Doorbell Footage Going Straight to ICE\u2019s Massive Spy Network?
        | Ring partners with Flock to feed doorbell footage into federal databases
        used by ICE for immigration enforcement", "link_flair_richtext": [], "subreddit_name_pref[...]
